*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

div{
    font-size: 35px;
    display: flex;
    color: white;
    margin: 20px;
}
